<div id="about">

    <h1 class="text-center">ABOUT</h1>
    <br>
    <h2 class="text-center">Szerzői Jogi Nyilatkozat </h2>
    <p class="m-5">
        This software is a <b class="bg-danger-subtle">demo game created solely for educational, demonstrational, and development purposes</b>. The purpose of the project is to showcase the process of integrating gameplay, visual, and programming techniques, rather than to be a finalized product for market release or commercial use.
        <br>
        All graphic and other digital assets (assets) used in this game, including character models and textures, originate from third parties and are not owned by the author or developer. All such assets are included solely for demonstration purposes to illustrate the functionality of specific game elements. The developer has no intention of using this content for financial gain.
        <br>
        This demo game is not for sale, will not be offered for commercial purposes, and is not intended for direct or indirect revenue generation. All rights remain with the original copyright holders, and we acknowledge the intellectual property and copyright of each owner. If the original owners wish for any of their content to be removed, please contact me, and I will make the necessary modifications to the project.
        <br>
        <br>
        <b>Important note:</b> This project is not intended to replace, supplement, or in any way compete with the products of the original copyright holders. The demo serves exclusively educational purposes, and its objective is neither financial gain nor the creation of market competition.
    </p>
    <a href="mailto:altterka@gmail.com" class="m-5 fw-bold">Molnár Bálint - email</a>
    
</div>