<div id="body" class="grey-box">

    <!-- Background-map -->
    <app-maps></app-maps>

    <!-- Hero -->
    <app-hero></app-hero>

    <!-- Események box -->
    <div id="eventLog" class="p-3 m-5 rounded position-fixed end-0 bottom-0 z-0">
        <!-- Ide kerülnek az események -->
    </div>

    <!-- Menu gomb -->
    <div class="position-fixed end-0 bottom-0 my-1 mx-5 px-5">
        <a routerLink="/" href="/" id="menuBtn" class="btn-secondary btn" type="button">MENU</a>
    </div>

    <!-- Enemy -->
    <app-katarina></app-katarina>

</div>