<div class="d-flex align-items-end flex-column fixed-top m-5 z-2">
    <!-- életjelző csík -->
    <div class="progress rounded-1 position-fixed top-0 my-3">
        <div id="enemyHp" class="progress-bar bg-danger" role="progressbar"
            [style.width.%]="(lucy.currentHp / lucy.maxHp) * 100" attr.aria-valuenow="{{ lucy.currentHp }}"
            aria-valuemin="0" attr.aria-valuemax="{{ lucy.maxHp }}">{{ lucy.currentHp }}/{{ lucy.maxHp }} HP
        </div>
    </div>
    <!-- energiacsík -->
    <div class="progress rounded-1 my-4 position-fixed top-0 my-5">
        <div id="enemyEnergy" class="progress-bar bg-info" role="progressbar"
            [style.width.%]="(lucy.currentEnergy / lucy.maxEnergy) * 100" attr.aria-valuenow="{{ lucy.currentEnergy }}"
            aria-valuemin="0" attr.aria-valuemax="{{ lucy.maxEnergy }}">{{ lucy.currentEnergy }}/{{ lucy.maxEnergy }}
            Energy
        </div>
    </div>
    <!-- defendUp -->
    <div class="py-4 position-absolute">
        <img id="defendUpEnemy" [src]="GS.jsonService.effectImages['defendImagePath']" *ngIf="lucy.isDefending == true">
    </div>
    <!-- kép -->
    <div>
        <img id="enemyImg" [src]="GS.jsonService.lucyImages['lucyImagePath']" class="enemyProfile lucyFix">
        <p id="FloatingCombatTextEnemy" class="FloatingCombatText text-warning FCTenemy"></p>
    </div>
</div>